.app-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  padding: 20px 10px;
  box-shadow: 0px 0px 5px #cdcdcd;
  margin-top: 20px;
  font-family: monospace;
}

.counter-container {
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 100px;
  color: #545454;
}

.result-container {
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  color: #545454;
}